@charset "UTF-8";

a,
a:link {
  text-decoration: none;
  color: inherit;
}
.newsroom {
  display: flex;
  justify-content: center;
  max-width: 1290px;
  margin: 5rem auto;
  column-gap: 5rem;
}
.newsroom > div{
  flex: 1 1 auto;
  transition: all .3s;
  box-shadow: 4px 12px 30px 6px rgb(214, 214, 214);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.newsroom > div:hover{
  border-radius: 20px;
  box-shadow: 4px 12px 30px 6px rgb(167, 167, 167);
  transform: translateY(-1rem);
}
.newsroom h1{
  font-size: 1.5rem;
  letter-spacing: -0.05em;
}
.newsroom strong{
  color: #666;
  font-size: 1rem;
}
.newsroom h3 {
  color: #888;
  font-size: 0.875rem;
  font-weight: 600;
}
.newsroom span {
  color: #666;
  font-weight: 600;
}
.sizepd{
  padding: 30px 50px 30px;
}
.imgbox img{
  width: 100%;
  object-fit: cover;
}