@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}	

body {
	font-family: Montserrat, "Noto Sans KR", sans-serif;
	font-size: .875rem;
	letter-spacing: -1px; /* 자간 : 글자와 글자의 간격 */
	font-weight: 400; /* 글자-두께: 100~900, bold, bolder*/
}
ul, ol {
	list-style-type: none;
}
a, a:link {
	text-decoration: none;
	color: inherit;
}
.d-none {
	display: none
}

.history {
	margin: 1rem 3rem;
	display: flex;
	justify-content: center;
} 

.current{
	margin-top:6.25rem;
	font-size: 1.8rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
} 
.logo-w {
	font-size: 1.8rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
} 
.vision li {
	margin: .625rem 0;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
} 
.company-img {
	margin: 3rem 1rem;
	min-height: 400px;
	width: 1920px;
	background-image: url("../images/joby_sub_visual1-2.jpg"); /* 배경이미지 : 경로() */
	background-position: center; /* 배경이미지-위치 : 수직,수평 가운데 */

} 

.history-detail {
	display: flex;
} 
.current{
	margin-left: 20.125rem;
	margin-right: 11rem;
	font-size: 1.8rem;
	font-weight: 600;
} 
.group {
	display: flex;
	margin-top: 6.25rem;
	margin-bottom: 6.875rem;
	padding-bottom: 4rem;
	border-bottom: 1px solid #d8d8d8;


} 
.group-left {
	color: #1b72b8;
	font-weight: 600;
	margin-right: 10.625rem;
	margin-bottom: 1.875rem;
	padding-top: .625rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
} 

.detail li {
	margin: .625rem 0;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
} 
.mini {
	font-size: 1.1rem;
	color: #1b72b8;
} 






