@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}	
.d-none {
	display: none
}
body {
	font-family: "Noto Sans KR";
}
.section {
	position: relative;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

a, a:link {
	text-decoration: none;
	color: inherit;
}


.vision h1{
	font-size: 40px;
	margin: 0 0 30px;
	text-align: center;
}
.vision p{
	font-size: 18px;
	padding: 0 0 20px;
	text-align: center;
}



.article-wrap{
	display: flex;
	justify-content: center;
	margin: 70px 0 0 0;
	height: 400px;
	overflow:hidden
}
.article-wrap img {
	width: 100%;
	object-fit: cover;
}

.sectionCon{
	background-color: #f8f8f8;
}
.sec05Cont{
	max-width: 1500px;
    margin: 0 auto;
}
.bg{
	display: flex;
	justify-content: center;
	padding: 100px 20px;	
}
.left-bg{
	text-align: center;
	display: inline-block;
	padding: 0 70px;

}
.center-bg {
	text-align: center;
	display: inline-block;
	padding: 0 70px;
}
.right-bg{
	text-align: center;
	display: inline-block;
	padding: 0 70px;
}
.bg h3 {
	margin: 0 0 15px;
}
.bg li {
	font-size: 15px;
	color: gray;
}
#sub_container {
	display: flex;
	justify-content: center;
}

.sub_inner{
	padding: 0 20px;
}
.pdt80{
	padding: 80px 0;
}
.wr_col2{
	display: flex;
	align-items: flex-start;
	gap: ;
}
.left {
	margin-right: 150px;
}
.text-link {
	display: flex;
	justify-content: space-between;	
}

.address{
	display: inline-block;
}
.linkArea{
	display: inline-block;
}
.imgArea {
	margin: 2rem 0 0 0
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
